@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --text-color: #1A1110;
    --yellow: #FFD23F;
    --background: #FFFDD0;
  }

body {
    background-color: var(--text-color);
    font-family: "Roboto";
    font-size: x-large;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

button {
    color: var(--text-color);
    cursor: pointer;
    font-family: "Roboto";
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: small;
    background-color: var(--background);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main_container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1A1110;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--yellow);
}

.shrug_button {
    background: none;
    border: none;
    font-size: xxx-large;
}

.shrug_button:hover {
    transform: scale(1.1);
}

.shrug_button:active {
    transform: translateY(4px);
}

.alert {
    padding: 10px;
    position: absolute;
    z-index: 1;
    font-size: medium;
    border-radius: 10px;
    margin-right: 250px;
    margin-top: 10px;
    background-color: var(--background);
    color: var(--main-color);
    margin-bottom: 15px;
    visibility: hidden;
  }